body{
font-family:Arial;
background:#f5f5f5;
padding:30px;
}

header{
text-align:center;
}

section{
background:white;
padding:20px;
margin:20px auto;
max-width:500px;
border-radius:12px;
box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.tool{
display:flex;
justify-content:space-between;
align-items:center;
}

button{
padding:10px;
border:none;
border-radius:8px;
cursor:pointer;
}
